<div class="container">
  <h2>All Donors</h2>
  <p>All donors in our database sorted by total gift donations.</p>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Affiliation</th>
        <th>Address</th>
        <th>Total Gift Donations</th>
        <th>Number of Donations</th>
      </tr>
      </thead>
      <tbody>
      <% for @donor in @donors %>
        <tr>
          <td><%= "#{@donor.name}" %></td>
          <td><%= "#{@donor.affiliation}" %></td>
          <td><%= "#{@donor.address_raw}" %></td>
          <td><%= "#{@donor.total_value}" %></td>
          <td><%= "#{@donor.gift_count}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>