<div class="container">
  <div>
    <h2>
      <%= "#{@judge.full_name}" %>
      <% unless @ballotpediaLink.nil? %>
        <small>
          (<a target="_blank" href=<%= "#{@ballotpediaLink}" %>>Ballotpedia</a>)
        </small>
      <% end %>
    </h2>
  </div>
  <div class="row">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>Agency:</td>
          <td><%= "#{@judge.agency.titlecase}" %></td>
        </tr>
        <tr>
          <td>Position:</td>
          <td><%= "#{@judge.position.titlecase}" %></td>
        </tr>
        <tr>
          <td>Division:</td>
          <td><%= "#{@judge.division.titlecase}" %></td>
        </tr>
      </tbody>
    </table>
    <h4>Gifts Recieved (<%= number_to_currency "#{@judge.total_value}" %>) </h4>
    <table class="table table-hover">
      <tr>
        <th>Description</th>
        <th>Date Given</th>
        <th>Value</th>
        <th>Donor</th>
      </tr>
      </thead>
      <tbody>
      <% for @gift in @judge.gifts %>
          <tr>
            <td><%= "#{@gift.description.titlecase}" %></td>
            <td>
              <% unless @gift.date_given.nil? %>
                <%= "#{@gift.date_given.to_formatted_s(:long)}" %>
              <% end %>
            </td>
            <td><%= number_to_currency "#{@gift.value}" %></td>
            <td><%= link_to "#{@gift.donor.name.titlecase}", donor_path(@gift.donor.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>