<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <%= image_tag "supreme_court.jpg" %>

            <div class="carousel-caption">
                <h4>
                    OpenJudge
                </h4>
                <p>An effort to better disclose income information about California judges.</p>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for @judge in @top_judges %>
                                <tr class="success">
                                    <td><%= link_to "#{@judge.full_name}", judge_path(@judge.id) %></td>
                                    <td><%= number_to_currency @judge.total_value %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>

                    <div class="span5">
                        <%= image_tag "cadatawordie.png" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Hello</h2>
            <p>asdfa</p>
            <a class="btn">View Details</a>

        </div>
        <div class="span4">
            <h2>Hello</h2>
            <p>asdfa</p>

        </div>
        <div class="span4">
            <h2>Hello</h2>
            <p>asdfa</p>

        </div>
    </div>

</div>

<%= javascript_tag do %>
    $('.carousel').carousel();
<% end %>