<div class="container marketing">
    <h2> Meet the Open Judge Civic Geek Squad</h2>

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span3 teamb">
            <%= image_tag "cait.jpg" %>
            <h4>Cathryn Posey</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i>Brand and design concepts</li>
                <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/catpoetry">@catpoetry</a></li>
            </ul>
        </div>
        <!-- /.span3 -->

        <div class="span3 teamb">
            <%= image_tag "ed.jpg" %>
            <h4>Edward Ng</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i>Generalist</li>
                <li><i class="icon-twitter icon-large"></i><a href="http://twitter.com/edjng">@edjng</a>
                </li>
            </ul>
        </div>
        <!-- /.span3 -->

        <div class="span3 teamb">
            <%= image_tag "kamil.jpg" %>
            <h4>Kamil Pilch</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i>Backend</li>
                <li><i class="icon-twitter icon-large"></i>Not On Twitter...</li>
            </ul>
        </div>
        <!-- /.span3 -->

        <div class="span3 teamb">
            <%= image_tag "kaming.jpg" %>
            <h4>Kaming Li</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i>iOS Developer</li>
                <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/mimi_sf">@mimi_sf</a></li>
            </ul>
        </div>
        <!-- /.span3 -->

        <div class="span3 teamb">
            <%= image_tag "renee.jpg" %>
            <h4>Renee DiResta</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i>Data Viz</li>
                <li><i class="icon-twitter icon-large"></i><a href="http://twitter.com/noupside"> @noupside</a></li>
                </a>
            </ul>
        </div>
        <!-- /.span3 -->

        <div class="span3 teamb">
            <%= image_tag "wayne.jpg" %>
            <h4>Wayne Sutton</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i> UI/UX Designer</li>
                <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/waynesutton">WayneSutton</a>
                </li>

            </ul>
        </div>
        <!-- /.span3 -->


        <div class="span3 teamb">
            <%= image_tag "adria.jpg" %>
            <h4>Adria Richards</h4>
            <ul class="unstyled">
                <li><i class="icon-user icon-large"></i> Hacker</li>
                <li><i class="icon-twitter icon-large"></i>
                    <a href="http://twitter.com/AdriaRichards"> @AdriaRichards</a>
                </li>
            </ul>
        </div>
    </div>
</div>
